{% extends "_base_entry.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}
{% block head_title %}{% trans "Nueva contraseña" %}{% endblock %}



{% block form %}
<div class="container">


    <h4>{% trans "Nueva contraseña" %}</h4>

    {% if user.is_authenticated %}

    {% include "account/snippets/already_logged_in.html" %}

    {% endif %}
    <p>{% trans "Has olvidado la contraseña? Introduce el email y la vamos a resetear" %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">

        {% csrf_token %}

        {{ form|crispy}}

        <input type="submit" class="btn btn-success" value="{% trans 'Resetear la contraseña' %}" />

    </form>



    <p>{% blocktrans %}Por favor contacta con lucian cati 604150313 si tienes problemas para resetear la
        contraseña{% endblocktrans %}</p>
</div>
{% endblock %}