{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load verbose_names %}

{% block content %}
    <div class="row ml-2 mr-2">
        <div class="col-md-4 col-sm-12">
            <h4>Busqueda Alimentos</h4>
            <hr>
            <form method="GET">
                {% csrf_token %}

                {{ filter.form|crispy }}

                <div class="form-group">
                    <button class="btn  btn-block" style="background: darkslategrey;color: white;" type="submit">
                        Buscar
                    </button>
                </div>
            </form>

            <ul class="list-group ">

                {% for key,val in alimento_1.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_1" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %} </span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_2.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_2" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_3.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_3" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_4.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_4" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_5.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_5" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_6.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_6" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_7.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_7" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_8.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_8" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_9.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_9" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_10.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_10" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_11.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_11" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_12.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_12" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
                {% for key,val in alimento_13.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        {% get_verbose_field_name alimento "alimento_13" %}
                        <span class="badge badge-dark badge-pill">{% if val == None %} 0{% else %}
                            {{ val }}{% endif %}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 col-sm-12">


            <ul class="list-group ">

                {% for alimento in filter.qs %}
                    <li class="list-group-item active d-flex justify-content-between align-items-center list-group-item-primary">
                        Se ha recogido
                        <span class="badge badge-danger badge-pill">{{ alimento.persona }}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Fecha Recogida
                        <span class="badge badge-primary badge-pill">{{ alimento.fecha_recogida }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_1" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_1 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_2" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_2 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_3" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_3 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_4" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_4 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_5" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_5 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_6" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_6 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_7" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_7 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_8" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_8 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_9" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_9 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_10" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_10 }}</span>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_11" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_11 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_12" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_12 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {% get_verbose_field_name alimento "alimento_13" %}
                        <span class="badge badge-primary badge-pill">{{ alimento.alimento_13 }}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Modificado por
                        <span class="badge badge-primary badge-pill">{{ alimento.modificado_por }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-center  align-items-center" style="padding: 0">
                        <a class="btn " role="button"
                           href="{% url 'adra:persona-update-alimentos' alimento.id %}">
                            <i class="large material-icons" title="" style="font-size: 36px;color: darkslategrey">mode_edit</i>
                        </a>
                        <a class="btn " role="button"
                           href="{% url 'adra:persona-alimentos-delete' alimento.id %}">
                            <i class="large material-icons" style="font-size: 34px; color: red">delete</i>
                        </a>
                    </li>

                    {% empty %}

                    <div class="alert alert-warning" role="alert">
                        Nu sau facut entregas in acesta zi!
                    </div>

                {% endfor %}


            </ul>
        </div>
    </div>

{% endblock %}


