{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Configuracion del centro de reparto
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-sm-12 " style="border-right: 2px dotted dodgerblue;border-bottom: 2px dotted dodgerblue;">
            <form action="{% url 'adra:configuracion' %}" method="post">
                {% csrf_token %}
                <h2 class="mb-5  ">Editar Informacion del centro de reparto</h2>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.nombre |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.oar |as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.codigo_postal |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.ciudad |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.calle |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ delegacion_form.provincia |as_crispy_field }}
                    </div>
                </div>


                <input type="submit" class="btn btn-dark btn-block mt-3" value="Enviar">
            </form>
        </div>
        <div class="col-md-7 col-sm-12 p-0">
            <div class="col-md-12 col-sm-12" style="border-bottom: 2px dotted dodgerblue;padding-bottom: 1em;">
                <h2 class="pb-3 mt-md-0 mt-sm-5"> Subir beneficiarios </h2>
                <div class="alert alert-warning" role="alert">
                    <b>No utilizar si ya tiene beneficarios!! </b>
                </div>
                <div class="audio_file_upload  bg-light rounded-3 p-3">
                    <div id="app">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Excel file</label>
                            <input class="form-control" required type="file" id="formFile"
                                   accept=".csv,.xlsm, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel.sheet.macroEnabled.12"
                                   ref="file"
                                   @change="selectFile( $event )">
                        </div>

                        <div class="center-all">
                            <div class="col-2"></div>
                            <button class="btn btn-dark   mb-3 col-5" :disabled="!excel_file" @click="upload">
                                Upload
                            </button>
                        </div>


                        <div class="progress mb-3" v-if="excel_file">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 :aria-valuenow="progress"
                                 :style="'width:' +  progress + '%'"
                                 aria-valuemin="0"
                                 aria-valuemax="100">[[progress]]
                            </div>
                        </div>
                        <div class="alert  " :class="'alert-'+ message.cls" v-for="message in messages"
                             role="alert"
                             v-if="messages.length > 0">
                            [[ message.text]]
                        </div>
                        <table class="table" v-if="payees_fraud.length > 0">
                            <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Oar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="payees in payees_fraud">
                                <th scope="row">[[payees.nombre]]</th>
                                <td>[[payees.oar]]</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="col-md-12 col-sm-12   mt-2" style="border-bottom: 2px dotted dodgerblue;">
                <h2 class="mt-md-0 mt-sm-5">Resetear papeles beneficiarios</h2>
                <a class="btn btn-warning mb-3 mt-3 " data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">Confirmar</a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <form action="{% url 'adra:configuracion' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="reset_papeles" value="si" id="">
                                    <h3>¿Estas seguro?</h3>
                                    <input type="submit" value="Si,adelante" class="btn btn-outline btn-success mt-4">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 " style="border-bottom: 2px dotted dodgerblue;padding-bottom: 1em;">
        <h2 class="pb-3 mt-md-4 mt-sm-5">Exportar Ficheros</h2>
        <div class="row">
            <div class="col-md-4  text-center  col-sm-12 center-all-ficheros border-ficheros">
                <h3>Hojas de entrega</h3>
                <div class="spinner" style="display: none"></div>
                <div style="display: flex;align-items: center;justify-content: center;width: 50%">
                    <a role="button" onclick="start_spinner('1')" class="btn btn-dark active"
                       href="{% url 'adra:hoja_entrega_global' %}">
                        Generar
                    </a>
                </div>

            </div>
            <div class="col-md-4   text-center col-sm-12 center-all-ficheros border-ficheros">
                <h3>Listado beneficarios</h3>
                <div class="spinner2" style="display: none"></div>
                <div style="display: flex;align-items: center;justify-content: center;width: 50%">
                    <a role="button" onclick="start_spinner('2')" class="btn btn-dark active"
                       href="{% url 'adra:exportar-users-csv' %}">
                        Generar
                    </a>

                </div>
            </div>
            <div class="col-md-4   text-center col-sm-12 center-all-ficheros border-ficheros">
                <h3>Valoraciones sociales</h3>
                <div class="spinner3" style="display: none"></div>
                <div style="display: flex;align-items: center;justify-content: center;width: 50%">
                    <a role="button" onclick="start_spinner('3')" class="btn btn-dark active"
                       href="{% url 'adra:valoracion_social' %}">
                        Generar
                    </a>

                </div>
            </div>


        </div>
    </div>



{% endblock content %}

{% block script %}
    <script src="{% static 'js/vue/vue3.js' %}"></script>
    <script src="{% static 'js/axios/axios.0.27.js' %}"></script>
    <script>
        function start_spinner(spin_number) {
            console.log("click me")
            if (spin_number === "1") {
                document.querySelector(".spinner").style.display = "block"
            } else {
                document.querySelector(`.spinner${spin_number}`).style.display = "block"
            }

        }

        $(window).blur(function () {
            $('.spinner').hide();
            $('.spinner2').hide();
            $('.spinner3').hide();
        });


    </script>
    <script>
        const {createApp} = Vue

        createApp({
            data() {
                return {
                    messages: [],
                    payees_fraud: [],
                    progress: 0,
                    excel_file: null,
                    audio_player: null,
                    valid_form: {
                        file: false,
                        all: false
                    }
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                selectFile(event) {
                    this.excel_file = event.target.files[0]
                    this.messages = []
                    if (!['application/vnd.ms-excel.sheet.macroEnabled.12', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'].includes(this.excel_file['type'])) {
                        this.messages.push({text: "El fichero no tiene el formato correcto", cls: "danger"})
                        this.valid_form.file = false
                        this.excel_file = null
                        console.log("no valid")
                    } else {
                        console.log("valid")
                        this.valid_form.file = true
                        this.message = null
                    }

                },
                upload() {
                    this.progress = 0
                    this.messages = []
                    this.valid_form.all = this.valid_form.file
                    if (this.valid_form.all) {
                        this.performUpload(this.excel_file, event => {
                            console.log(event)
                            this.progress = Math.round((100 * event.loaded) / event.total)
                        }).then(response => {
                            this.payees_fraud = response.data['usuarios_fraud']

                            if (response.data['usuarios_fraud'].length > 0) {
                                this.messages.push({
                                    text: "Se han dectectado beneficiarios fraudulentos,los que aparecen en la lista no se han añadido.",
                                    cls: "warning"
                                })
                            } else {
                                this.messages.push({
                                    text: "Los beneficiarios se ha añadido correctamente",
                                    cls: "success"
                                })
                            }


                        }).catch(error => {
                            this.progress = 0
                            this.messages.push({text: "Hay un problema al subir el fichero", cls: "danger"})
                            this.excel_file = null
                        })
                    }


                },
                performUpload(file, onUploadProgress) {
                    let formData = new FormData()
                    formData.append('record', file)
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

                    return axios.post("{% url 'adra:configuracion' %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        onUploadProgress
                    })
                }
            }
        }).mount('#app')
    </script>
{% endblock %}