#header {
    background: #f7c506;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #000 !important;
}
#user-tools  {
    color: #000 !important;
}
#user-tools a {
    color: #000 !important;
}