@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

.space {
    margin: 20px;
}

#showcase {
    background-image: url("https://images.unsplash.com/photo-1569402604464-6f466a53141e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 3rem;
    color: #fff;
}

.form-style {
    background-color: rgba(105, 105, 105, 0.89);
    padding: 20px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 25px;
}

.form-style a,
small {
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.smal {
    height: 40px;
    padding: 10px 10px;
}

.card-horizontal {
    display: flex;
    flex: auto 1 auto;
}

.profile-container {
    margin: auto;
    background-color: #fff;
    padding: 30px;
    /* margin-top: 80px; */
    height: auto;
    box-shadow: -6px -3px 18px 1px #dedede;
}

.user-name {
    color: #0e2f44;
    font-weight: bold;
}

.user-mail {
    color: #858585;
}

.user-company {
    font-weight: bold;
    color: #5ad45c;
}

.more-info {
    padding: 10px;
    background-color: #f8fbff;
    color: #7ddbd4;
    border-bottom: #fff 1px solid;
    font-family: inherit;
}

.more-info p {
    color: grey;
    font-weight: bolder;
}

.todo-links {
    padding: 10px;
    border-bottom: 1px solid #ccc;

}

.todo-links a i {
    margin-right: 20px;
}

.todo-links a {
    color: #000;
    font-size: 16px;
}

.profile-info .user-name {
    text-transform: capitalize;
}

.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(0.9);
    box-shadow: -2px 2px 26px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 500px) {
    .profile-info {
        text-align: center;
    }


}