{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Adra-Statistics
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">0 a 2</th>
            <th scope="col">3 a 15</th>
            <th scope="col">16-64</th>
            <th scope="col">+ de 65</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mujeres</th>
            <td>{{ total_per_mujer_02 }}</td>
            <td>{{ total_per_mujer_03 }}</td>
            <td>{{ total_per_mujer_16 }}</td>
            <td>{{ total_per_mujer_65 }}</td>
            <td>{{ total_mujeres }}</td>
        </tr>
        <tr>
            <th scope="row">Hombres</th>
            <td>{{ total_per_hombre_02 }}</td>
            <td>{{ total_per_hombre_03 }}</td>
            <td>{{ total_per_hombre_16 }}</td>
            <td>{{ total_per_hombre_65 }}</td>
            <td>{{ total_hombres }}</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td>{{ total_02 }}</td>
            <td>{{ total_03 }}</td>
            <td>{{ total_16 }}</td>
            <td>{{ total_65 }}</td>
            <td>{{ total_personas }}</td>
        </tr>
    </tbody>
</table>
<br>
<div class="row"  >
    <div class="col-md-4">
        <h5>Personas con Discapacidad</h5>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Discapacidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ discapacidad }}</th>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h5>Beneficiarios</h5>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Total Beneficiarios</th>
                    <th scope="col">Total Familiares</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ total_beneficiarios }}</th>
                    <th scope="row">{{ total_familiares }}</th>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-4" style="display: flex;justify-content: center;align-items: center;">

        
        <a role="button" class="btn btn-success active" href="{% url 'adra:recuento_beneficiarios' %}" style="display: flex;justify-content: center;align-items: center;">
            <i class="large material-icons" style="font-size: 36px;color: white">file_download</i>
            Generar Recuento Beneficiarios
        </a>
    </div>
</div>
<!-- 
    <div class="col col-md-6" style="height: 25vh;min-height: 25vh;position:relative;">
        <h3 class="text-left pt-5">Usuarios activos por busqueda</h3>
        <p><b>introduce el numero de entregas</b></p>
        <div id="app-activos">
            <div class="input-group col-sm-6 d-flex justify-content-center align-items-center text-black-50"
                 style="padding-left: 0;margin-top: 2vh;">
                <input type="number" v-model="number_search" class="form-control" min="1" id="active_ben">
                <label for="active_ben"></label>
            </div>
            <h4 style="margin-top: 1vh">Beneficiarios activos: <span
                    style="font-size: 20px;color: red;margin-left: 2%;">{beneficiarios} </span></h4>
        </div>
    </div> -->

<div class="row">
    <div class="col">
        <h1 class="text-center pt-5">Registros por años</h1>
        <div id="main" style="width:100%; height:400px;"></div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script>

    // var app = new Vue({
    //     el: '#app-activos',
    //     delimiters: ['{', '}'],
    //     data: {
    //         number_search: 1,
    //         beneficiarios: ''
    //     },
    //     watch: {
    //         number_search: function (old) {
    //             this.get_data()

    //         }
    //     },
    //     mounted() {
    //         this.get_data()
    //     },
    //     methods: {
    //         get_data: function () {
    //             let vm = this;
    //             if (vm.number_search) {
    //                 axios.get(`/get-beneficiarios-activos/${this.number_search}`)
    //                     .then(function (response) {
    //                         vm.beneficiarios = response.data.num

    //                     })
    //                     .catch(function (error) {
    //                         console.log(error);
    //                     })
    //             }

    //         }
    //     }
    // })


    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main'));


    let option = {
        tooltip: {
            trigger: 'item',
            formatter: '{c} registros'
        },
        xAxis: {
            type: 'category',
            data: ['2018', '2019', '2020', '2021']
        },
        yAxis: {
            type: 'value'
        },
    };


    axios.get("{% url 'adra:get_data' %}")
        .then(function (response) {
            console.log(response);

            myChart.setOption({
                xAxis: {
                    type: 'category',
                    data: response.data.years
                },
                series: [{
                    data: response.data.reg,
                    type: 'line'
                }]
            });
        })
        .catch(function (error) {
            console.log(error);
        })


    // use configuration item and data specified to show chart
    myChart.setOption(option);
    window.onresize = function () {
        myChart.resize();
    };
</script>

{% endblock %}