<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Telegram</title>
  </head>
  <body>
    <div class="container">
        <h1 style="color: red;margin-top: 5%;">Adra Torrejon Informa</h1>
        <p style="font-size: 18px;"><b>A partir de ahora ya no vamos a enviar mensajes</b>  </p>
        <p><b>La via de comunicación sera a traves de <span class="text-danger" style="font-size: 24px;"> telegram</span> que os paso el enlace para descargar</b></p>
        <p><b> <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=es">Android</a></b></p>
        <p><b> <a href="https://apps.apple.com/es/app/telegram-messenger/id686449807">Iphone</a></b></p>
        <p><b>Una vez instalada ,teneis que pulsar este enlace de abajo y uniros al chat que he creado para hablar con vosotros,es urgente</b></p>
        <p><b><a href="https://t.me/joinchat/AAAAAFXCpY63-5afLQbkcA">Chat Adra</a></b></p>
    </div>
  </body>
</html>