<!-- {% extends "_base.html" %} -->
{% load static %}
{% load verbose_names %}
{% block content %}

    {% if beneficiarios %}

        <div class="row">
            {% for beneficiario in beneficiarios %}
                <div class="col-md-6 col-lg-3">
                    <div class="card wow fadeIn" data-wow-duration="2s"
                         style="box-shadow: 0px 0px 23px -2px rgba(186,186,186,1);">
                        <div class="card-body">
                            <div class="mx-auto d-block text-center">

                                {% if  beneficiario.sexo == 'hombre' %}
                                    <img class="rounded-circle mx-auto d-block"
                                         src="{% static 'images/chico.png' %}"
                                         alt="Card image cap" width="70" height="70">
                                {% else %}
                                    <img class="rounded-circle mx-auto d-block"
                                         src="{% static 'images/girl.png' %}"
                                         alt="Card image cap" width="70" height="70">
                                {% endif %}





                                <h5 class="text-sm-center mt-2 mb-1 text-truncate">{{ beneficiario.nombre_apellido }}</h5>
                                <div class="location text-sm-center">{{ beneficiario.numero_adra }}</div>
                                <div class="card-text text-sm-center">
                                    {% if  beneficiario.are_acte %}
                                        <i class="large material-icons"
                                           style="color:green;font-size: 34px;">verified_user</i>
                                    {% else %}
                                        <i class="large material-icons"
                                           style="color:red;font-size: 34px;">verified_user</i>
                                    {% endif %}
                                    {% if  beneficiario.discapacidad %}
                                        <i class="large material-icons"
                                           style="font-size: 34px;">accessible</i>
                                    {% endif %}
                                    {% if beneficiario.covid %}
                                        <i class="large material-icons" title="covid "
                                           style="font-size: 34px;color: #370617">grain</i>
                                    {% endif %}

                                    {% if beneficiario.get_babys_number > 0 %}
                                        <div style="display: inline-block !important;">
                                            <div style="display:flex;justify-content: center;align-items: center+">
                                                <i class="large material-icons" title="covid "
                                                   style="font-size: 34px;color: #168ae2">child_friendly</i> <span
                                                    style="margin-left: 2px;"> x {{ beneficiario.get_babys_number }}</span>
                                            </div>
                                        </div>
                                    {% endif %}


                                </div>
                            </div>
                            <p class="card-text text-center p-2" style="box-shadow: inset 1px 0px 6px 0px #00000014;
    border-radius: 13px; margin: 10px;">
                                Total: {{ beneficiario.numero_beneficiarios }}
                                {% if  beneficiario.numero_beneficiarios == 1 %}
                                    familiar
                                {% else %}
                                    familiares
                                {% endif %}
                            </p>
                            <div class="card-text text-center">
                                <a href="{% url 'adra:personas_detail' beneficiario.id %}" class="mr-2">
                                    <i class="large material-icons"
                                       style="font-size: 34px;color: darkslategrey">remove_red_eye</i>
                                </a>
                                <a href="{% url 'adra:persona-update' beneficiario.id %}" class="mr-2">
                                    <i class="large material-icons" style="font-size: 34px;">settings</i>

                                </a>
                                {% if user.is_staff %}
                                    <a href="{% url 'adra:persona-delete' beneficiario.id %}">
                                        <i class="large material-icons"
                                           style="font-size: 34px; color: red">delete</i>
                                    </a>

                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <strong class="card-title mb-3">

                                {% if beneficiario.alimentos.all %}
                                    <p class="text-center" style="color: #484848">Recogido:
                                        {% for al in beneficiario.alimentos.all %}
                                            {% if forloop.first %}
                                                <span>{{ al.fecha_recogida|date:"d-m-Y" }}</span>
                                                <br>
                                                <span>{{ al.fecha_recogida|timesince }}</span>

                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                {% else %}
                                    <p class=" text-center text-danger">Sin entrega</p>
                                {% endif %}


                            </strong>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>




        {% if is_paginated %}

            <div class="pagination" style="display: flex;justify-content: center">
              <span class="step-links " style="display:flex;">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" style="margin-right: 20px;"><i
                            class=" large material-icons ">chevron_left</i> </a>
                {% endif %}
                  <span class="current">
                  Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}" style="margin-left: 20px;">  <i
                              class=" large material-icons ">chevron_right</i></a>
                  {% endif %}
              </span>
            </div>


        {% endif %}


    {% else %}
        <p>No hay personas!!!</p>
    {% endif %}


{% endblock %}