{% extends "_base.html" %}
{% load crispy_forms_tags %}
<div class="row">
    {% block content %}
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                <h1>Deseas realmente borrar a <span style="color: firebrick">{{ object.nombre_apellido }}</span> ?</h1>
                <div class="form-group mt-3">
                    <button class="btn btn-outline-danger mr-2" type="submit">Confirmar</button>
                    <a href=" {{ persona.get_absolute_url }}" class="btn btn-outline-secondary">Cancelar</a>
                </div>
            </form>

        </div>
    {% endblock %}
</div>