{% extends "_base.html" %}
{% load verbose_names %}

{% block title %}
Almacen
{% endblock %}
<div class="row">
    {% block content %}


    <div class="col-md-12">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">

                        <div class="media-body">
                            <h2 class="text-light display-6">Almacen</h2>
                            <p class="text-danger">Unidades disponibles</p>
                        </div>
                    </div>
                </div>


                <ul class="list-group list-group-flush">
                    {% for alimento in almacen_adra %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_1" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  1 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_1 }} </span>
                        </div>

                    </li>

                    <li class="list-group-item  d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_2" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  2 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_2 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_3" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  3 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_3 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_4" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  4 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_4 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_5" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  5 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_5 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_6" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  6 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_6 }} </span>
                        </div>


                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_7" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  7 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_7 }} </span>
                        </div>


                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_8" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  8 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_8 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_9" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  9 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_9 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_10" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  10 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_10 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_11" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  11 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_11 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_12" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  12 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_12 }} </span>
                        </div>

                    </li>
                    {% empty %}
                    <p>Almacen vacio</p>
                    {% endfor %}
                </ul>

            </section>
        </aside>
    </div>





    <!--
    <div class="col-md-12 col-sm-12">

        <table class="table  table-sm table-responsive">
            <thead>
                <tr>
                    <th scope="col">Aroz Blanco</th>
                    <th scope="col">Garbanzo cocido</th>
                    <th scope="col">Atun</th>
                    <th scope="col">Sardina</th>
                    <th scope="col">Pasta Espagueti</th>
                    <th scope="col">Tomate Frito</th>
                    <th scope="col">Galletas</th>
                    <th scope="col">Macedonia Verduras</th>
                    <th scope="col">Fruta en conserva Pera</th>
                    <th scope="col">Fruta en conserva Coctel</th>
                    <th scope="col">Tarito Pollo</th>
                    <th scope="col">Tarito Fruta</th>
                    <th scope="col">Leche</th>
                    <th scope="col">Batido de Chocolate</th>
                    <th scope="col">Aceite de Oliva</th>
                    <th scope="col">Modificado Por:</th>
                    <th colspan="3" scope="col">Actiones:</th>
                </tr>
            </thead>
            <tbody>
                {% for alimento in almacen_adra %}
                <tr>
                    <td>{{ alimento.arroz_blanco }}</td>
                    <td>{{ alimento.garbanzo_cocido }}</td>
                    <td>{{ alimento.atun_sardina }}</td>
                    <td>{{ alimento.sardina }}</td>
                    <td>{{ alimento.pasta_espagueti }}</td>
                    <td>{{ alimento.tomate_frito }}</td>
                    <td>{{ alimento.galletas }}</td>
                    <td>{{ alimento.macedonia_verdura_conserva }}</td>
                    <td>{{ alimento.fruta_conserva_pera }}</td>
                    <td>{{ alimento.fruta_conserva_coctel }}</td>
                    <td>{{ alimento.tarito_pollo }}</td>
                    <td>{{ alimento.tarito_fruta }}</td>
                    <td>{{ alimento.leche }}</td>
                    <td>{{ alimento.batido_chocolate }}</td>
                    <td>{{ alimento.aceite_de_oliva }}</td>
                    <td>{{ alimento.modificado_por }}</td>
                    {#                <td><a href="{% url 'adra:persona-detail' persona.id %}">Ver</a></td>#}

        {#                <td><a href="{% url 'adra:persona-update-alimentos' alimento.id %}">Editar</a></td>#}

        {#                <td><a href="{% url 'adra:persona-alimentos-delete' alimento.id %}">Sterge</a></td>#}
                </tr>
                {% empty %}
                <p>Nu sa dat alimente acestei personane :(</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

        {#    <a class="btn btn-success" role="button" href="{% url 'adra:alimentos-create' persona.id %}">Repartir Alimento#}
    {#        para {{ object.nombre_apellido }}</a>#}
    {% endblock %} -->

</div>