{% extends "_base.html" %}
{% load verbose_names %}

{% block title %}
Almacen
{% endblock %}
<div class="row">
    {% block content %}


    <div class="col-md-12">
        
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">

                        <div class="media-body">
                            <h2 class="text-light display-6">Stock Alimentos</h2>
                            <p class="text-danger">Unidades disponibles</p>
                        </div>
                    </div>
                </div>


                <ul class="list-group list-group-flush">
                    {% for alimento in almacen_adra %}
                    {% if user.is_staff %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div style="width:45%"> <a class="btn btn-primary"
                                role="button" href="{% url 'adra:almacen-update' alimento.id %}">Actualizar los alimentos</a></div>
                            

                        </li>
                    {% endif%}
                   
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_1" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  1 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_1 }} </span>
                        </div>

                    </li>

                    <li class="list-group-item  d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_2" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  2 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_2 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_3" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  3 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_3 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_4" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  4 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_4 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_5" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  5 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_5 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_6" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  6 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_6 }} </span>
                        </div>


                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_7" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  7 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_7 }} </span>
                        </div>


                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_8" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  8 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_8 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_9" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  9 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_9 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_10" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  10 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_10 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_11" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  11 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_11 }} </span>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span style="width:45%"> {% get_verbose_field_name alimento "alimento_12" %}</span>
                        <span style="width:45%"> Caduca en <span
                                style="color:red">{% proxima_caducidad alimento  12 %}</span> dias </span>
                        <div style="width:10%" class="d-flex justify-content-between align-items-center">
                            Unidades <span class="badge badge-primary text-right"> {{ alimento.alimento_12 }} </span>
                        </div>

                    </li>
                    {% empty %}
                    <p>Almacen vacio</p>
                    {% endfor %}
                </ul>

            </section>
        </aside>
    </div>

    {% endblock %}

</div>